.content {
	width: 250px;
	margin: 200px auto;
	padding: 2em;
	
	border-color: #333;
	border-width: 3px;
	border-style: solid;
	
	box-shadow: 0 0 25px rgba(102,102,0,0.5);
}

.deleted {
	text-decoration: line-through;
}

li {
  cursor: pointer;
}
